<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>bug triage</title>
  </head>
  <body>
  <style>
  *{
  background-image:url('finnn.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  text-align:center;
  }
  
  </style>
    <h1 style="color:white">BUG TRIAGE</h1>
       <div class="center">
       <form action = "/predict" method = "POST">
          <p style="color:white">ID:<input  type="number" name = "bug_id" placeholder="Enter the ID"/></p>
          <p style="color:white"><input type = "submit" value = "Assign" style="background-color:white" /></p>
          <p>{{dev}}</p>
       </form>
       </div>
  </body>
</html>
